{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Post</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <h1>Are you sure you want to delete the post "{{ task.title }}"?</h1>
            <button class="btn btn-outline-danger btn-rounded mt-5">Yes, Delete</button>
        </div>
        </form>
    </div>
{% endblock content %}